<!doctype html>
<html lang="en" ng-app="OnTap">
  <head>
    <meta charset="utf-8">
    <title>OnTap</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/oauth-signature/dist/oauth-signature.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="secrets.js"></script>
    <script src="js/app.js"></script>
    <script src="js/onTapController.js"></script>
    <script src="js/map.js"></script>
  </head>

  <body ng-controller="OnTapController as searchCtrl">
 <section class="container col-md-12">
 <div class="col-md-2">
   <div class='logo' >
     <p> OnTap </p>
   </div>
 </div>
   <div class="col-md-6 col-md-offset-1">
     <section class="welcome">
       <h1>Where's the beer?</h1>
       <form class="form-horizontal">
         <input type="text" class="inputBox" class="controls" id="pac-input" placeholder="Enter your location" ng-model="searchCtrl.searchTerm">
         </br>
         <button class="btn searchButton" ng-click="searchCtrl.doSearch()"><p>Search</p></button>
       </form>
     </section>
     </div>
   </section>
   <div class="container col-md-12">
   <section class='pub-list col-md-6'>
     <ul class="list-group">
       <li class='list-box'ng-repeat="pub in searchCtrl.searchResult.businesses">
         <a ng-href="{{ pub.url }}">{{ pub.name }}</a>
         <p>Rating: {{ pub.rating }}</p>
         <div ng-init="searchCtrl.getCoords(pub.location.coordinate, pub.name)"></div>
       </li>
     </ul>
   </section>
   <section class="col-md-6 map">
     <div id="map"></div>
  </input>

   </section>

   </div>

   <script type="text/javascript" defer="defer", src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"></script>
 </body>
</html>
